#Container {
  width: 50%;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 10%;
  padding-left: 15%;
}
#button {
  font-size: medium;
  background-color: rgb(0, 225, 255);
  border: 1px solid black;
  border-radius: 10px;
  width: 100px;
  height: 40px;
}
#button:hover {
  color: crimson;
}
@media screen and (max-width: 433px) {
  #Container {
    width: 100%;
    font-size: large;
  }
}
